<ng-container *ngIf="pokemon">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-outline-primary"
    data-bs-toggle="modal"
    [attr.data-bs-target]="'#exampleModal' + pokemon.name"
  >
    Details
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    [id]="'exampleModal' + pokemon.name"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pokémon details</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <!--Modal body-->
        <div class="modal-body d-flex justify-content-center">
          <!--Pokemon Card-->
          <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
        </div>
        <!-- Buttons for Catch/Realase and Close -->
        <div class="modal-footer just">
          <button
            class="btn btn-outline-success"
            (click)="handleCatch(pokemon.name)"
            *ngIf="!isCaught(pokemon.name)"
          >
            Catch
            <img src="../../../assets/master-ball.png" />
          </button>
          <button
            class="btn btn-outline-danger"
            (click)="handleRelease(pokemon.name)"
            *ngIf="isCaught(pokemon.name)"
          >
            Release
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
