<div class="d-flex justify-content-center mb-3">
  <h1>Your Pokémons</h1>
</div>
<!-- Displays catched pokemons as a row in a table -->
<app-pokemon-table [pokemonNames]="trainer.pokemon"></app-pokemon-table>
