<div class="container" style="width: fit-content">
  <h2>Hello pokémon trainer</h2>

  <form #createUser="ngForm" (ngSubmit)="onSubmit(createUser)">
    <fieldset>
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        required
        minlength="2"
        ngModel
        #username="ngModel"
        [ngClass]="{
          'is.valid': username.valid,
          'is-invalid': username.invalid && (username.dirty || username.touched)
        }"
        placeholder="Ash Ketchum"
      />
      <div
        *ngIf="
          username.errors &&
          username.invalid &&
          (username.dirty || username.touched)
        "
      >
        <p *ngIf="username.errors?.['required']">The username is required</p>
        <p *ngIf="username.errors?.['minlength']">The username is too short</p>
      </div>
    </fieldset>

    <button
      *ngIf="!isLoading"
      type="submit"
      [disabled]="createUser.invalid"
      class="btn btn-primary mt-3"
    >
      Login
    </button>
    <div *ngIf="isLoading" class="spinner-border mt-3"></div>
  </form>
</div>
