<div class="d-flex justify-content-center mb-3">
  <h1>Available Pokémons</h1>
</div>
<!-- Displays each pokemon as a row in a table -->
<app-pokemon-table [pokemonNames]="pokemonNames"></app-pokemon-table>
