<div class="container">
  <ng-container *ngIf="trainer">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Avatar</th>
        <th>Name</th>
        <th>Catch</th>
        <th>Details</th>
        <!-- <th>Caught</th> -->
      </tr>
      <ng-container *ngIf="pokemonNames">
        <tr
          my-tr
          *ngFor="let pokemonName of pokemonNames"
          [name]="pokemonName"
        ></tr>
      </ng-container>
    </table>
  </ng-container>
</div>
