<div
  *ngIf="pokemon"
  class="card"
  style="
    width: 18rem;
    border: 5px solid rgb(226, 193, 7);
    background-color: rgb(255, 225, 52);
  "
>
  <div class="card-header text-center text-capitalize">
    <b>{{ pokemon.name }}</b>
  </div>
  <!-- Pokemon Image-->
  <img src="{{ pokemon.avatar }}" class="card-img-top" alt="pokemon.name" />
  <!-- Pokemon Description-->
  <div class="card-body">
    <ul
      class="list-group list-group-flush text-capitalize"
      style="border: 5px solid rgb(226, 193, 7)"
    >
      <li class="list-group-item">
        <b>Type:</b>
        <ng-container *ngFor="let type of pokemon.types"
          > {{ type.type.name }}
        </ng-container>
      </li>
      <li class="list-group-item">
        <b>HP:</b> {{ pokemon.stats[0].base_stat }}
      </li>
    </ul>
  </div>
</div>
