<ng-container *ngIf="pokemon">
  <td>{{ pokemon.id }}</td>
  <td><img src="{{ pokemon.avatar }}" /></td>
  <td class="text-capitalize">{{ pokemon.name }}</td>
  <td>
    <button
      class="btn btn-outline-success"
      (click)="handleCatch(pokemon.name)"
      *ngIf="!isCaught(pokemon.name)"
    >
      Catch
      <img src="../../../assets/master-ball.png" />
    </button>
    <button
      class="btn btn-outline-danger"
      (click)="handleRelease(pokemon.name)"
      *ngIf="isCaught(pokemon.name)"
    >
      Release
    </button>
  </td>
  <td>
 <tr>
   <td pokemon-modal [pokemon] = "pokemon" ></td>
 </tr>
  </td>
  <!-- No need to show if the pokemon is caught while using Catch/Release -->
  <!-- <td>{{ isCaught(pokemon.name) }}</td> --> 
</ng-container>
