<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pokémon Trainer</a>
      <!-- Collpase button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="hasUser" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
         <!-- List items -->
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/catalogue">Catalogue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/trainer">Trainer</a>
          </li>

        </ul>
        <!-- Logout button -->
        <form class="d-flex">
          <button type="button" class="btn btn-sm btn-danger" (click)="tempLogout()">Logout</button>
        </form>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>